.accordion-smallscreen {
  margin-bottom: 15px;

  .ressources-contact-title {
    color: #e8aa05;
    font-weight: bold;
    line-height: 19px;
  }

  .ressources-contact-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .ressources-contact-item div {
    padding-right: 10px;
  }

  .ressources-item {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .ressources-item-border {
    border-top: 2px solid #F0F0F0;
  }
}

@media screen and (max-width: 450px) {
  .accordion-smallscreen {
    section {
      box-shadow: none;
      border-bottom: 1px solid #F0F0F0;
    }

    .container-small-screen {
      margin-inline: 20px;
    }

    .ressources-contact-item {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}