@font-face {
  font-weight: 400;
  font-family: "Marianne";
  src: url("../fonts/Marianne-Regular.otf") format("truetype");
}
body {
  font-family: Marianne, sans-serif;
  font-size: 16px;
  color: var(--primary);
}
html {
  scroll-behavior: smooth;
}

/*****
* Corrections après l'import du design system de l'état (@dataesr/react-dsfr)
*****/
[href] {
  box-shadow: none !important;
}

[target=_blank]:after {
  content: none !important;
}

ol>li::marker {
  content: none !important;
}
